@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Work+Sans:wght@200;300&display=swap');

body {
  background-color: #f9e9eb;
  color: #0b2e97;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

p{
  max-width: 600px;
  margin: 0 auto;
}

form{
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  margin-bottom: 5px;
}

input{
  margin-bottom: 10px;
  background-color: #f8f7ff;
  color: #0b2e97;
  border: solid #0b2e97 0.5px;
  width: 320px;
}

h3{
  text-transform: capitalize;
  padding: 5px;
}

button[type="submit"] {
  color: white;
  background-color: #0b2e97;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 10px 0;
}

button[type="submit"]:hover {
  background-color: darkblue;
}

/* classes */

.pink{
  border: solid pink 0.5px;
}

.blue{
  background-color: #e6e5ff;
  color: #0b2e97;
  border: solid #0b2e97 0.5px;
  padding: 5px;
}

.note{
  font-size: 13px;
}

.hidden{
  display: none;
}
.margintop{
  margin-top: 20px;
}

.marginbtm{
  margin-bottom: 20px;
}

/* Id's */

#main-div{
  width: 600px;
  margin: 0 auto;
  background-color: #f9e9eb;
}

#head{
  background-image: url('../img/bgsunset.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0b2e97;
  margin-bottom: 80px;
}

div #lang{
  font-weight: 900;
}

#lastq{
  margin-bottom: 20px;
}

#result{
  font-size: 20px;
}