@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Work+Sans:wght@200;300&display=swap');

body {
  background-color: #f9e9eb;
  color: #0b2e97;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

p{
  max-width: 600px;
  margin: 0 auto;
}

form{
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  /* border: purple solid 2px; */
  margin-bottom: 5px;
}

input{
  margin-bottom: 10px;
  background-color: #f8f7ff;
  color: #0b2e97;
  border: solid #0b2e97 0.5px;
  padding: 5px 100px;
  width: 5px;
}

h3{
  /* color: #ff43a7; */
  padding: 5px;
}

.pink{
  border: solid pink 0.5px;
}

.blue{
  background-color: #deddf4;
  color: #0b2e97;
  border: solid #0b2e97 0.5px;
  padding: 5px;
}

.note{
  font-size: 14px;
}

.hidden{
  display: none;
}

#main-div{
  width: 800px;
  margin: 0 auto;
  background-color: #f9e9eb;
  /* border: solid pink 1px; */
}

#head{
  background-image: url('../img/bgsunset.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0b2e97;
  margin-bottom: 80px;
}

div #lang{
  font-weight: 900;
}